<a href="https://colab.research.google.com/github/IanTirok/Moringa-DSP10-WEEK-2/blob/main/Copy_of_Python_Programming_Lists_Monday.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font color="green">*To start working on this notebook, or any other notebook that we will use in the Moringa Data Science Course, we will need to save our own copy of it. We can do this by clicking File > Save a Copy in Drive. We will then be able to make edits to our own copy of this notebook.*</font>

# Python Programming: Lists

## 1.0 Creating a List

In [1]:
# Example 1
# Lists can be created by placing a sequence inside square brackets.
# They are ordered and changeable and can also contain duplicate items.
# We will start to create a list called fruits
#
fruits = ["bananas", "grapes", "mangoes"]
print(fruits)

# In python, elements in a list are referenced using indices. Indices (singular: index) are number used to tell the position of an elment in a list. The first element in  a list is assigned an index of 0. 
# For example in the list we created, bananas is at index 0 and mangoes is at index 2. 
# Indices are very important especially when we want to update, delete or access items in a list.

['bananas', 'grapes', 'mangoes']

In [2]:
# Example 2
# We will also create a list called kenyan_football_players
#
kenyan_football_players = ["Victor Wanyama", "Michael Olunga", "McDonald Mariga"]
print(kenyan_football_players)

['Victor Wanyama', 'Michael Olunga', 'McDonald Mariga']

In [3]:
# Example 3
# And lastly, create a list called kenyan cities
#
kenyan_cities = ["Nairobi", "Mombasa", "Kisumu"]
print(kenyan_cities)

['Nairobi', 'Mombasa', 'Kisumu']

### <font color="green">1.1 Challenges</font>

In [6]:
# Challenge 1: 
# Let's create a list of 3 counties in Kenya and then print out the list below;
# 
kenyan_counties = ["Nairobi" , "Baringo", "Nakuru"]

print(kenyan_counties)

['Nairobi', 'Baringo', 'Nakuru']

In [8]:
# Challenge 2: 
# Create a list of 5 African presidents and print out the list below;
# 
african_presidents = [" Azali Assoumani", "Cyril Ramaphosa", "George Weah", "Abdelmadjid Tebboune", "Mohamed Abdullahi Mohamed"]

print (african_presidents)

[' Azali Assoumani', 'Cyril Ramaphosa', 'George Weah', 'Abdelmadjid Tebboune', 'Mohamed Abdullahi Mohamed']

In [10]:
# Challenge 3: 
# Create a list of 5 members of your moringa class and print out the list;
#
moringa_class_members = ["Barbara Juma", "Dennis Kiarie", "Noah Kandie", "Machuka Joy", "Lucy Kinyua"]

print (moringa_class_members)

['Barbara Juma', 'Dennis Kiarie', 'Noah Kandie', 'Machuka Joy', 'Lucy Kinyua']

## 1.2 Adding Elements to a List

In [11]:
# Example 1
# We use the append() item to add an element to a list as shown below:
# Adding the city Nakuru to the kenyan_cities list 
#
kenyan_cities.append("Nakuru")
print(kenyan_cities)

['Nairobi', 'Mombasa', 'Kisumu', 'Nakuru']

In [13]:
# Example 2
# We add the county Turkana to our counties list 
# and print out the list as shown below;
#
kenyan_counties.append("Turkana")

print(kenyan_counties)

['Nairobi', 'Baringo', 'Nakuru', 'Turkana', 'Turkana']

In [15]:
# Example 3
# Let's add the footballer Francis Kahata to the 
# kenyan_football_players list defined above and print out the list
#
kenyan_football_players.append("Francis Kahata")

print(kenyan_football_players)

['Victor Wanyama', 'Michael Olunga', 'McDonald Mariga', 'Francis Kahata']

### <font color="green">1.2 Challenges</font>

In [16]:
# Challenge 1: Add a third county to the county list 
# that you defined above and then print out the list.
# 
kenyan_counties.append("Laikipia")

print(kenyan_counties)

['Nairobi', 'Baringo', 'Nakuru', 'Turkana', 'Turkana', 'Laikipia']

In [26]:
# Challenge 2: 
# Add a fifth and a sixth president to the african presidents 
# you defined above and print out the list.
#
african_presidents.append("Mokgweetsi Masisi")
african_presidents.append("Roch Marc Christian Kaboré")

print(african_presidents)

[' Azali Assoumani', 'Cyril Ramaphosa', 'George Weah', 'Abdelmadjid Tebboune', 'Mohamed Abdullahi Mohamed', 'Mokgweetsi MasisiRoch Marc Christian Kaboré', ['Mokgweetsi MasisiRoch Marc Christian Kaboré'], 'Mokgweetsi Masisi', 'Mokgweetsi Masisi', 'Mokgweetsi Masisi', 'Roch Marc Christian Kaboré']

In [25]:
# Challenge 3: 
# Add two more members to the moringa class list that 
# you defined above and print out the list.
#
moringa_class_members.append("Ian Tirok")
moringa_class_members.append ("Nikita Njoroge")

print(moringa_class_members)

['Barbara Juma', 'Dennis Kiarie', 'Noah Kandie', 'Machuka Joy', 'Lucy Kinyua', 'Ian Tirok', 'Ian Tirok', 'Ian Tirok', 'Ian Tirok', 'Nikita Njoroge']

## 1.3 Updating Elements in a List

In [27]:
# Example 1
# The value of a specific item in a list can be changed by referring to the index number as shown;
# Let's update the first element in the kenyan_cities list then print it out
# 
kenyan_cities[1] = "Kwale"
print(kenyan_cities)

['Nairobi', 'Kwale', 'Kisumu', 'Nakuru']

In [31]:
# Example 2
# Let's update the second element in the kenyan_football_players 
# list with Musa Mohammed then print out the list
#
kenyan_football_players[1] = "Musa Mohammed"

print(kenyan_football_players)

['Victor Wanyama', 'Musa Mohammed', 'Musa Mohammed', 'Musa Mohammed']

In [32]:
# Example 3
# Let's update the third element in the moringa 
# class list with your name then print out the list
# 
moringa_class_members[2] = ("Kittony Tirok")

print(moringa_class_members)

['Barbara Juma', 'Dennis Kiarie', 'Kittony Tirok', 'Machuka Joy', 'Lucy Kinyua', 'Ian Tirok', 'Ian Tirok', 'Ian Tirok', 'Ian Tirok', 'Nikita Njoroge']

### <font color="green">1.3 Challenges</font>

In [33]:
# Challenge 1
# Update the second county to the county list that 
# you defined above and then print out the list.
# (NB: Update of choice)
#
kenyan_counties[1] = ("Kisumu")

print(kenyan_counties)

['Nairobi', 'Kisumu', 'Nakuru', 'Turkana', 'Turkana', 'Laikipia']

In [34]:
# Challenge 2
# Update the third and fourth president of the african presidents 
# list that you defined above and then print out the list.
# (NB: Update of choice) 
#
african_presidents[2] = ("Faustin-Archange Touadéra")
african_presidents[3] = ( "Andry Rajoelina")

print (african_presidents)

[' Azali Assoumani', 'Cyril Ramaphosa', 'Faustin-Archange Touadéra', 'Andry Rajoelina', 'Mohamed Abdullahi Mohamed', 'Mokgweetsi MasisiRoch Marc Christian Kaboré', ['Mokgweetsi MasisiRoch Marc Christian Kaboré'], 'Mokgweetsi Masisi', 'Mokgweetsi Masisi', 'Mokgweetsi Masisi', 'Roch Marc Christian Kaboré']

In [37]:
# Challenge 3
# Update all items in your class list 
# that you defined above with a new list and then print out that list. 
# 
moringa_class_members[0]=("John Doe")
moringa_class_members[1]=("Jane Doe")
moringa_class_members[2]=("Wanjiku")
moringa_class_members[3]=("Wanjiru")
moringa_class_members[4]=("Kittony")
moringa_class_members[5]=("Ian")
moringa_class_members[6]=("Tirok")
moringa_class_members[7]=("Dan")
moringa_class_members[8]=("Tony")
moringa_class_members[9]=("Mike")



print(moringa_class_members)

['John Doe', 'Jane Doe', 'Wanjiku', 'Wanjiru', 'Kittony', 'Ian', 'Tirok', 'Dan', 'Tony', 'Mike']

## 1.4 Accessing Elements from a List

In [38]:
# Example 1
# We can access the first item in the fruits list by doing the following
# 
fruts_first_item = fruits[0]
print(fruts_first_item)

bananas

In [39]:
# Example 2
# We can also access the 2nd item in the kenyan_football_players list by;
#
kenyan_football_players_second_item = kenyan_football_players[1]
print(kenyan_football_players_second_item)

Musa Mohammed

In [41]:
# Example 3
# We can access the third item in the moringa_class list also by
#
moringa_class_members_second_item = moringa_class_members[2]
print(moringa_class_members_second_item)

Wanjiku

### <font color="green">1.4 Challenges</font>

In [42]:
# Challenge 1
# Let's access the second item in the fruits list below
#
fruts_second_item = fruits[1]
print(fruts_second_item)

grapes

In [43]:
# Challenge 2
# Let's access the fourth item in kenyan_football_players list below
#
kenyan_football_players_fourth_item = kenyan_football_players[3]
print(kenyan_football_players_fourth_item)

Musa Mohammed

In [44]:
# Challenge 3
# Let's access the first item in your class list below;
#
moringa_class_members_first_item = moringa_class_members[0]
print(moringa_class_members_first_item)

John Doe

## 1.5 Removing Elements from a List

In [45]:
# Example 1
# Let's remove the first item from the fruits list as shown;
#
fruits.remove("bananas")
print(fruits)

['grapes', 'mangoes']

In [46]:
# Example 2
# Then remove the third item from the kenyan cities list as shown;
#
del kenyan_cities[2];
print(kenyan_cities)

['Nairobi', 'Kwale', 'Nakuru']

In [47]:
# Example 3
# Let's remove the fourth item from counties list as shown;
#
del kenyan_counties[3];
print(kenyan_counties)

['Nairobi', 'Kisumu', 'Nakuru', 'Turkana', 'Laikipia']

### <font color="green">1.5 Challenges</font>

In [48]:
# Challenge 1 
# Remove the first item from the kenya_football_players list 
# and print the list
#
del kenyan_football_players[0];
print(kenyan_football_players)

['Musa Mohammed', 'Musa Mohammed', 'Musa Mohammed']

In [50]:
# Challenge 2
# Remove the second item from the fruits list and print the list
#
del fruits[1];
print(fruits)

['grapes']

In [51]:
# Challenge 3 
# Remove the last item from the african presidents list and print the list
#
del african_presidents[-1];
print(african_presidents)

[' Azali Assoumani', 'Cyril Ramaphosa', 'Faustin-Archange Touadéra', 'Andry Rajoelina', 'Mohamed Abdullahi Mohamed', 'Mokgweetsi MasisiRoch Marc Christian Kaboré', ['Mokgweetsi MasisiRoch Marc Christian Kaboré'], 'Mokgweetsi Masisi', 'Mokgweetsi Masisi', 'Mokgweetsi Masisi']

## 1.6 Slicing a List

In [52]:
# Example 1
# We can print the first two item of the fruits list by slicing and printing them as shown;
# The syntax for slicing is start:stop
# Start is the index at which we want to start our slice.
# Stop is the index at which we want to stop just before finishing the slice. The slicing stops at index stop-1. For exampl, if stop is 2, then the slicing will stop at index (2-1)
# 
fruits = ["bananas", "grapes", "mangoes","oranges","pineapple"]
fruits1 = fruits[0:3] 
print(fruits1)

['bananas', 'grapes', 'mangoes']

In [53]:
# Example 2
# We can print the items from the 2nd item till the end by slicing and printing them as shown;
# 
fruits2 = fruits[2:]
print(fruits2)

['mangoes', 'oranges', 'pineapple']

In [54]:
# Example 3
# We can print items from beginning of the list to the third element in the fruits list as shown;
#
fruits3 = fruits[:-2]
print(fruits3)

['bananas', 'grapes', 'mangoes']

### <font color="green">1.6 Challenges</font>

In [55]:
# Challenge 1 
# Print the first two items of the kenyan_football_players list
# 
kenyan_football_players_1 = kenyan_football_players[0:2]
print(kenyan_football_players_1)

['Musa Mohammed', 'Musa Mohammed']

In [56]:
# Challenge 2 
# Print the last two items of the counties list
# 
kenyan_counties_1 = kenyan_counties[-2:]
print(kenyan_counties_1)

['Turkana', 'Laikipia']

In [57]:
# Challenge 3 
# Print items fron the beginning to the second items in the kenyan_cities list
# 
kenyan_cities_1 = kenyan_cities[0:2]
print(kenyan_cities_1)

['Nairobi', 'Kwale']