<a href="https://colab.research.google.com/github/IanTirok/Moringa-DSP10-WEEK-2/blob/main/Copy_of_SQL_Programming_Inner_Joins%20Thursday.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font color="green">*To start working on this notebook, or any other notebook that we will use in the Moringa Data Science Course, we will need to save our own copy of it. We can do this by clicking File > Save a Copy in Drive. We will then be able to make edits to our own copy of this notebook.*</font>

# SQL Programming - Inner Joins

## 1.0 Lets connect to our Database

In [1]:
# We will first load the sql extension into our environment
%load_ext sql

# Then connect to our in memory sqlite database
# NB: This database will cease to exist as soon as the database connection is closed. 
%sql sqlite://

'Connected: @None'

In [2]:
# Importing Pandas
import pandas as pd

## 1.1 Loading our Datasets

Datasets used in this notebook:


1.   **Countries**

> Dataset of European Countries. ([Dataset Download Link](https://drive.google.com/a/moringaschool.com/file/d/1Vz0URHRmUsG17fpzWa02RsCBI2TbPXeV/view?usp=sharing))

2.   **Cities** 

> Dataset of European Cities. ([Dataset Download Link](https://drive.google.com/a/moringaschool.com/file/d/1-S8sact6Ae-A06wntUmBBlr5NH43VLY0/view?usp=sharing))

In [3]:
# Let's load our Countries dataset below
# 
with open('/content/world_countries.csv','r') as f:
    world_countries = pd.read_csv(f, index_col=0, encoding='utf-8')
#%sql DROP TABLE if EXISTS world_countries;
%sql PERSIST world_countries;
%sql SELECT * FROM world_countries LIMIT 5;

 * sqlite://
 * sqlite://
Done.

[('Albania', 2.9, 'no', 'yes'),
 ('Andorra', 0.07, 'no', 'no'),
 ('Austria', 8.57, 'yes', 'no'),
 ('Belarus', 9.48, 'no', 'no'),
 ('Belgium', 11.37, 'yes', 'yes')]

In [4]:
# Let's load our Cities dataset below
#
with open('/content/world_cities.csv','r') as f:
    world_cities = pd.read_csv(f, index_col=0, encoding='utf-8')
#%sql DROP TABLE if EXISTS world_cities;
%sql PERSIST world_cities;
%sql SELECT * FROM world_cities LIMIT 5;

 * sqlite://
 * sqlite://
Done.

[('Aalborg', 'Denmark', 57.03, 9.92, 7.52),
 ('Aberdeen', 'United Kingdom', 57.17, -2.08, 8.1),
 ('Abisko', 'Sweden', 63.35, 18.83, 0.2),
 ('Adana', 'Turkey', 36.99, 35.32, 18.67),
 ('Albacete', 'Spain', 39.0, -1.87, 12.62)]

## 1.2 Getting Started

Let's try to learn from the given example below, then apply our learnings to the given challenges using the **`INNER JOIN`** statement;

In [6]:
# Example 1 
# First let's look at the syntax code for the inner join statement
# 
# SELECT <Column names>
# FROM table1 INNER JOIN table2
# ON table1.column_name = table2.column_name
# 
# On the first line, we select the columns from which we want to join. This columns can be from both tables.
# On the second line, we explicitly declare the tables we are joining.
# on the third line, we give the search condition. Remember, for us to be able to do inner join or any type of join, there must be a column that is a match in both tables. 
# So the search condition simply tells SQL the column that is the same in both tables


# Let's find all the cities with latitude < 50 in a country with population < 5; 
# and return the city, country, and population, sorted by country
# 
%%sql
SELECT city, world_cities.country, population
FROM world_cities INNER JOIN world_countries
     ON world_cities.country = world_countries.country
WHERE latitude < 50 AND population < 5
ORDER BY world_cities.country

 * sqlite://
Done.

[('Elbasan', 'Albania', 2.9),
 ('Andorra', 'Andorra', 0.07),
 ('Sarajevo', 'Bosnia and Herzegovina', 3.8),
 ('Rijeka', 'Croatia', 4.23),
 ('Split', 'Croatia', 4.23),
 ('Skopje', 'Macedonia', 2.08),
 ('Balti', 'Moldova', 4.06),
 ('Chisinau', 'Moldova', 4.06),
 ('Podgorica', 'Montenegro', 0.63),
 ('Ljubljana', 'Slovenia', 2.07)]

### <font color="green">1.2 Challenges</font>

In [11]:
# Challenge 1
# Let's find a city with temperature > 10 that belongs to the EU and doesn't have a coastline, 
# returning the city, coastline and ordered by temperature
# 
%%sql
SELECT city, world_cities.country, population, temperature
FROM world_cities INNER JOIN world_countries
     ON world_cities.country = world_countries.country
WHERE temperature > 10
ORDER BY world_cities.temperature ASC

 * sqlite://
Done.

[('Yevpatoriya', 'Ukraine', 44.62, 10.02),
 ('Exeter', 'United Kingdom', 65.11, 10.14),
 ('Amiens', 'France', 64.67, 10.17),
 ('Toulouse', 'France', 64.67, 10.25),
 ('Trabzon', 'Turkey', 79.62, 10.28),
 ('Limoges', 'France', 64.67, 10.32),
 ('Novi Sad', 'Serbia', 8.81, 10.34),
 ('Szeged', 'Hungary', 9.82, 10.34),
 ('Karaman', 'Turkey', 79.62, 10.41),
 ('Burgos', 'Spain', 46.06, 10.45),
 ('Craiova', 'Romania', 19.37, 10.51),
 ('Pleven', 'Bulgaria', 7.1, 10.51),
 ('Bucharest', 'Romania', 19.37, 10.59),
 ('Le Mans', 'France', 64.67, 10.59),
 ('Ruse', 'Bulgaria', 7.1, 10.59),
 ('Zonguldak', 'Turkey', 79.62, 10.64),
 ('Oviedo', 'Spain', 46.06, 10.85),
 ('Edirne', 'Turkey', 79.62, 10.9),
 ('Stara Zagora', 'Bulgaria', 7.1, 10.9),
 ('Perpignan', 'France', 64.67, 10.95),
 ('Angers', 'France', 64.67, 10.98),
 ('Brest', 'France', 64.67, 11.02),
 ('Eskisehir', 'Turkey', 79.62, 11.11),
 ('Montpellier', 'France', 64.67, 11.11),
 ('Bursa', 'Turkey', 79.62, 11.16),
 ('Madrid', 'Spain', 46.06, 11.19),
 ('Tarsus', 'Turkey', 79.62, 11.21),
 ('Trieste', 'Italy', 59.8, 11.21),
 ('Constanta', 'Romania', 19.37, 11.24),
 ('Bilbao', 'Spain', 46.06, 11.41),
 ('Salamanca', 'Spain', 46.06, 11.63),
 ('Bologna', 'Italy', 59.8, 11.69),
 ('Perugia', 'Italy', 59.8, 11.7),
 ('Bordeaux', 'France', 64.67, 11.87),
 ('Antalya', 'Turkey', 79.62, 11.88),
 ('Ordu', 'Turkey', 79.62, 11.92),
 ('Burgas', 'Bulgaria', 7.1, 11.93),
 ('Samsun', 'Turkey', 79.62, 12.05),
 ('Split', 'Croatia', 4.23, 12.46),
 ('Siirt', 'Turkey', 79.62, 12.48),
 ('Albacete', 'Spain', 46.06, 12.62),
 ('Vigo', 'Spain', 46.06, 12.85),
 ('Genoa', 'Italy', 59.8, 12.94),
 ('Tekirdag', 'Turkey', 79.62, 13.02),
 ('Istanbul', 'Turkey', 79.62, 13.2),
 ('Santander', 'Spain', 46.06, 13.4),
 ('Braga', 'Portugal', 10.3, 13.42),
 ('Gaziantep', 'Turkey', 79.62, 13.46),
 ('Ancona', 'Italy', 59.8, 13.52),
 ('Foggia', 'Italy', 59.8, 13.83),
 ('Malatya', 'Turkey', 79.62, 14.13),
 ('Batman', 'Turkey', 79.62, 14.16),
 ('Zaragoza', 'Spain', 46.06, 14.17),
 ('Marseille', 'France', 64.67, 14.98),
 ('Murcia', 'Spain', 46.06, 15.0),
 ('Denizli', 'Turkey', 79.62, 15.02),
 ('Catania', 'Italy', 59.8, 15.04),
 ('Manisa', 'Turkey', 79.62, 15.1),
 ('Rome', 'Italy', 59.8, 15.1),
 ('Pescara', 'Italy', 59.8, 15.13),
 ('Bari', 'Italy', 59.8, 15.15),
 ('Elbasan', 'Albania', 2.9, 15.18),
 ('Lisbon', 'Portugal', 10.3, 15.52),
 ('Badajoz', 'Spain', 46.06, 15.61),
 ('Barcelona', 'Spain', 46.06, 15.78),
 ('Trikala', 'Greece', 10.92, 16.0),
 ('Valencia', 'Spain', 46.06, 16.02),
 ('Granada', 'Spain', 46.06, 16.33),
 ('Messina', 'Italy', 59.8, 16.54),
 ('Cosenza', 'Italy', 59.8, 16.6),
 ('Patras', 'Greece', 10.92, 16.9),
 ('Huelva', 'Spain', 46.06, 17.09),
 ('Marbella', 'Spain', 46.06, 17.19),
 ('Kalamata', 'Greece', 10.92, 17.3),
 ('Cartagena', 'Spain', 46.06, 17.32),
 ('Algeciras', 'Spain', 46.06, 17.38),
 ('Athens', 'Greece', 10.92, 17.41),
 ('Palermo', 'Italy', 59.8, 17.9),
 ('Adana', 'Turkey', 79.62, 18.67)]

In [14]:
# Challenge 2
# Let's find all cities with latitude > 45 in a country with no coastline and with population > 9,
# returning the city, country, latitude, and whether it's in the EU.
#
%%sql
SELECT city, world_cities.city, world_cities.country, latitude, EU
FROM world_cities INNER JOIN world_countries
ON world_cities.country = world_countries.country
WHERE latitude > 45 AND coastline = 'no'

 * sqlite://
Done.

[('Balti', 'Balti', 'Moldova', 47.76, 'no'),
 ('Basel', 'Basel', 'Switzerland', 47.58, 'no'),
 ('Bratislava', 'Bratislava', 'Slovakia', 48.15, 'yes'),
 ('Brest', 'Brest', 'Belarus', 52.1, 'no'),
 ('Brno', 'Brno', 'Czech Republic', 49.2, 'yes'),
 ('Budapest', 'Budapest', 'Hungary', 47.5, 'yes'),
 ('Chisinau', 'Chisinau', 'Moldova', 47.01, 'no'),
 ('Debrecen', 'Debrecen', 'Hungary', 47.53, 'yes'),
 ('Geneva', 'Geneva', 'Switzerland', 46.21, 'no'),
 ('Graz', 'Graz', 'Austria', 47.08, 'yes'),
 ('Gyor', 'Gyor', 'Hungary', 47.7, 'yes'),
 ('Hrodna', 'Hrodna', 'Belarus', 53.68, 'no'),
 ('Innsbruck', 'Innsbruck', 'Austria', 47.28, 'yes'),
 ('Kosice', 'Kosice', 'Slovakia', 48.73, 'yes'),
 ('Linz', 'Linz', 'Austria', 48.32, 'yes'),
 ('Mazyr', 'Mazyr', 'Belarus', 52.05, 'no'),
 ('Minsk', 'Minsk', 'Belarus', 53.9, 'no'),
 ('Novi Sad', 'Novi Sad', 'Serbia', 45.25, 'no'),
 ('Orsha', 'Orsha', 'Belarus', 54.52, 'no'),
 ('Ostrava', 'Ostrava', 'Czech Republic', 49.83, 'yes'),
 ('Pinsk', 'Pinsk', 'Belarus', 52.13, 'no'),
 ('Prague', 'Prague', 'Czech Republic', 50.08, 'yes'),
 ('Salzburg', 'Salzburg', 'Austria', 47.81, 'yes'),
 ('Szeged', 'Szeged', 'Hungary', 46.25, 'yes'),
 ('Vienna', 'Vienna', 'Austria', 48.2, 'yes'),
 ('Zurich', 'Zurich', 'Switzerland', 47.38, 'no')]

In [15]:
# Challenge 3
# Let's find the average temperature of non-european cities with a latitude > 45
# 
%%sql
SELECT avg(temperature)
FROM world_cities INNER JOIN world_countries
ON world_cities.country = world_countries.country
WHERE latitude > 45 AND EU = 'no'

 * sqlite://
Done.

[(6.704375,)]

In [16]:
# Challenge 4 
# Let's find minimum and maxiumum temperature of european cities with latitude > 45
# 
%%sql
SELECT max(temperature), min(temperature)
FROM world_cities INNER JOIN world_countries
ON world_cities.country = world_countries.country
WHERE latitude > 45 AND EU = 'yes'

 * sqlite://
Done.

[(11.21, -2.2)]

In [18]:
# Challenge 5
# Let's find the number of european cities with a latitude > 45
# 
%%sql
SELECT COUNT(world_cities.city)
FROM world_cities INNER JOIN world_countries
ON world_cities.country = world_countries.country
WHERE latitude > 45

 * sqlite://
Done.

[(131,)]

In [19]:
# Challenge 6
# Which european cities belong to a country with a coastline?
# 
%%sql
SELECT world_cities.city
FROM world_cities INNER JOIN world_countries
ON world_cities.country = world_countries.country
WHERE coastline = 'yes'

 * sqlite://
Done.

[('Aalborg',),
 ('Aberdeen',),
 ('Abisko',),
 ('Adana',),
 ('Albacete',),
 ('Algeciras',),
 ('Amiens',),
 ('Amsterdam',),
 ('Ancona',),
 ('Angers',),
 ('Ankara',),
 ('Antalya',),
 ('Arad',),
 ('Athens',),
 ('Augsburg',),
 ('Bacau',),
 ('Badajoz',),
 ('Baia Mare',),
 ('Barcelona',),
 ('Bari',),
 ('Batman',),
 ('Belfast',),
 ('Bergamo',),
 ('Bergen',),
 ('Berlin',),
 ('Bialystok',),
 ('Bielefeld',),
 ('Bila Tserkva',),
 ('Bilbao',),
 ('Birmingham',),
 ('Blackpool',),
 ('Bodo',),
 ('Bologna',),
 ('Bonn',),
 ('Bordeaux',),
 ('Botosani',),
 ('Bournemouth',),
 ('Bradford',),
 ('Braga',),
 ('Braila',),
 ('Bremen',),
 ('Brest',),
 ('Brugge',),
 ('Bucharest',),
 ('Burgas',),
 ('Burgos',),
 ('Bursa',),
 ('Bydgoszcz',),
 ('Bytom',),
 ('Caen',),
 ('Cambridge',),
 ('Cartagena',),
 ('Catania',),
 ('Chemnitz',),
 ('Cherkasy',),
 ('Chernihiv',),
 ('Chernivtsi',),
 ('Constanta',),
 ('Cork',),
 ('Cosenza',),
 ('Craiova',),
 ('Daugavpils',),
 ('Denizli',),
 ('Dijon',),
 ('Dublin',),
 ('Dundee',),
 ('Edinburgh',),
 ('Edirne',),
 ('Elbasan',),
 ('Elblag',),
 ('Erfurt',),
 ('Erzincan',),
 ('Erzurum',),
 ('Eskisehir',),
 ('Exeter',),
 ('Foggia',),
 ('Frankfurt',),
 ('Freiburg',),
 ('Galway',),
 ('Gaziantep',),
 ('Genoa',),
 ('Glasgow',),
 ('Göteborg',),
 ('Granada',),
 ('Grenoble',),
 ('Groningen',),
 ('Heidelberg',),
 ('Helsinki',),
 ('Horlivka',),
 ('Huelva',),
 ('Ingolstadt',),
 ('Inverness',),
 ('Istanbul',),
 ('Kalamata',),
 ('Karaman',),
 ('Karlsruhe',),
 ('Kaunas',),
 ('Kayseri',),
 ('Kherson',),
 ('Kielce',),
 ('Kiev',),
 ('Kiruna',),
 ('Klaipeda',),
 ('Koszalin',),
 ('Kremenchuk',),
 ('Kryvyy Rih',),
 ('Le Mans',),
 ('Lille',),
 ('Limoges',),
 ('Lisbon',),
 ('Ljubljana',),
 ('Lvov',),
 ('Maastricht',),
 ('Madrid',),
 ('Magdeburg',),
 ('Makiyivka',),
 ('Malatya',),
 ('Malmö',),
 ('Manisa',),
 ('Marbella',),
 ('Marseille',),
 ('Messina',),
 ('Metz',),
 ('Milan',),
 ('Montpellier',),
 ('Mulhouse',),
 ('Murcia',),
 ('Nice',),
 ('Odense',),
 ('Ordu',),
 ('Oslo',),
 ('Oulu',),
 ('Oviedo',),
 ('Palermo',),
 ('Patras',),
 ('Perpignan',),
 ('Perugia',),
 ('Pescara',),
 ('Pleven',),
 ('Plovdiv',),
 ('Podgorica',),
 ('Poznan',),
 ('Reims',),
 ('Riga',),
 ('Rijeka',),
 ('Rivne',),
 ('Rome',),
 ('Rostock',),
 ('Ruse',),
 ('Salamanca',),
 ('Samsun',),
 ('Santander',),
 ('Sarajevo',),
 ('Sibiu',),
 ('Siirt',),
 ('Sivas',),
 ('Split',),
 ('Stara Zagora',),
 ('Stavanger',),
 ('Stockholm',),
 ('Sumy',),
 ('Swansea',),
 ('Tallinn',),
 ('Tampere',),
 ('Tarsus',),
 ('Tartu',),
 ('Tekirdag',),
 ('Toulouse',),
 ('Trabzon',),
 ('Trieste',),
 ('Trikala',),
 ('Trondheim',),
 ('Turku',),
 ('Uppsala',),
 ('Valencia',),
 ('Vigo',),
 ('Vilnius',),
 ('Warsaw',),
 ('Wroclaw',),
 ('Yevpatoriya',),
 ('Zaragoza',),
 ('Zhytomyr',),
 ('Zonguldak',)]